[submodule "lnplay/clightning/cln-plugins/bolt12-prism"]
	path = lnplay/clightning/cln-plugins/bolt12-prism
	url = https://github.com/daGoodenough/bolt12-prism.git
[submodule "lnplay/prism-app/ROYGBIV-frontend"]
	path = lnplay/prism-app/ROYGBIV-frontend
	url = https://github.com/farscapian/ROYGBIV-frontend
[submodule "tests/load"]
	path = tests/load
	url = https://github.com/farscapian/ROYGBIV-stack-load-tester
[submodule "lnplay/clams/app"]
	path = lnplay/clams/app
	url = https://github.com/clams-tech/App.git
