[submodule "lnplay/clightning/cln-plugins/bolt12-prism"]
	path = lnplay/clightning/cln-plugins/bolt12-prism
	url = https://github.com/daGoodenough/bolt12-prism.git
[submodule "lnplay/prism-app/ROYGBIV-frontend"]
	path = lnplay/prism-app/ROYGBIV-frontend
	url = https://github.com/farscapian/ROYGBIV-frontend
[submodule "lnplay/clams/remote"]
	path = lnplay/clams/remote
	url = https://github.com/clams-tech/Remote.git
[submodule "lnplay/clightning/cln-plugins/lnplaylive"]
	path = lnplay/clightning/cln-plugins/lnplaylive/app
	url = https://github.com/farscapian/lnplay.live-plugin.git
[submodule "lnplay/lnplaylive/app"]
	path = lnplay/lnplaylive/app
	url = https://github.com/johngribbin/lnplay-frontend
[submodule "lnplay/clightning/cln-plugins/lnplaylive/app"]
	path = lnplay/clightning/cln-plugins/lnplaylive/app
	url = https://github.com/farscapian/lnplay.live-plugin.git
[submodule "lnplay/clightning/cln-plugins/clboss/app"]
	path = lnplay/clightning/cln-plugins/clboss/app
	url = https://github.com/ZmnSCPxj/clboss
